Checks: '
-*,
bugprone-argument-comment,
modernize-use-nullptr,
readability-redundant-declaration,
readability-redundant-string-init,
'
WarningsAsErrors: '*'
CheckOptions:
 - key: performance-move-const-arg.CheckTriviallyCopyableMove
   value: false
