Checks: '
-*,
bugprone-argument-comment,
modernize-use-nullptr,
performance-*,
-performance-inefficient-string-concatenation,
-performance-no-int-to-ptr,
-performance-noexcept-move-constructor,
-performance-unnecessary-value-param,
readability-const-return-type,
readability-redundant-declaration,
readability-redundant-string-init,
'
WarningsAsErrors: '
bugprone-argument-comment,
modernize-use-nullptr,
readability-redundant-declaration,
readability-redundant-string-init,
'
